<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-8">
            <div class="card " style="background-color: #9DCBD1">
                <div class="card-body p-4 ">
                    <div class="card-title text-center">

                        <h2>{{title}} title</h2>
                        <h6 class="text-muted">{{minRead}},hdwjhdaj {{date}}</h6>

                        <p class="mt-2 text-left"> <!--to be deleted, only for test -->
                            {{description}}
                        </p>


                        <p class="text-left"> 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eius, quia, commodi maxime repellendus est fugiat iure deserunt quos mollitia, hic laudantium. Reiciendis sint eos minima voluptatum iusto animi quam!
                            {{markdown}}
                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>